<h1>Pictures</h1>
<%= link_to("New Picture", "/pictures/new") %>

<%= render 'pictures', pictures: @most_recent_pictures %>

<h3>
  <% if @number_of_older_pictures == 1 %>
    There is one older picture:
  <% else %>
    There are <%= @number_of_older_pictures %> older pictures:
  <% end %>
</h3>

<section>
  <h4>2018:</h4>
  <%= render 'pictures', pictures: (Picture.pictures_created_in(2018) - @most_recent_pictures) %>
</section>

<section>
  <h4>2017:</h4>
  <%= render 'pictures', pictures: Picture.pictures_created_in(2017) %>
</section>

<section>
  <h4>2016:</h4>
  <%= render 'pictures', pictures: Picture.pictures_created_in(2016) %>
</section>
